build
.DS_Store
V01/main.pdf
V01/main.aux
V01/main.toc
V01/main.bcf
V01/main.bbl
V01/content/.auctex-auto/
V01/main.run.xml
.snakemake
main.pdf
main.aux
main.toc
main.bcf
main.bbl
content/.auctex-auto/
main.run.xml
main.blg
main.log

